* {
font-family: roboto-condensed, sans-serif;
font-style: normal;
font-weight: 400;
margin: 0;
padding: 0;
box-sizing: border-box;
}

img{
  display: inline-block;
  padding-right: 5px;
}
h1{
display: inline-block;
text-align: center;
font-size: 35px;
}
button{
  width: 100vw;
  height: 20.5vh;
  background-color: #002a5c;
  color: white;
  font-size: 25px;
  text-decoration: none;
}

img:hover{
  cursor: pointer;
}

button:hover{
  background-color: #002a7c;
  cursor: pointer;

}


p{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 12px;
  font-size: 18px;
  text-align: center;
}
h2{
  padding-left: 10px;
}

@media screen and (max-width: 1000px){
  button{
    height: 20vh;
    }

    p{
      text-align: justify;
    }
  }

@media screen and (max-width: 850px){
    button{
      height: 19.5vh;
      }
    }

@media screen and (max-width: 750px){
    button{
      height: 19vh;
      }
    }

@media screen and (max-width: 600px){
      button{
        height: 17.5vh;
        }
      }

@media screen and (max-width: 400){
      button{
        height: 14vh;
        }
      }
